:root {
    /* font size */
    --base-size: 1rem;
    
    /* background colors */
    --background-color: black;
    --background-color-primary: white;
    --background-gray-light: #ccc;
    --background-light-red: #e65e67;
    --background-blue: #0A66C2;
    --background-light-blue: #4888c8;
    --background-coffee-chat: #EEF0FD;
    --background-purple: #7883F9;
    --border-light-gray: #979595e1;
    

    /* text color */
    --color-gray-light: #5f6368;
    --color-red: #ED212D;
    --color-light-red: #e65e67;
    --color-primary: white;
    --color-secondary: black;
    
    /* spacing */
    --margin-top: 1rem;
    --margin-right: 1rem;
    --margin-bottom: 1rem;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    --padding-left: 1rem;
    --padding-right: 1rem;
    
    /* font family */
    --font-family-h1: 'Be Vietnam Pro';
    --font-family-description: 'Be Vietnam Pro';
    --font-family-h2: 'Be Vietnam Pro';
        
    font-size: var(--base-size);
}



/* heading */
body {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
}
h1 {
    margin-top: calc(6*var(--margin-top));
    margin-bottom: var(--margin-top);
    font-size: calc(3*var(--base-size));
    font-family: var(--font-family-h1);
    transition: all 0.2s ease;
}
em {
    font-weight: bold;
    color: var(--color-red);
}
h2 {
    font-family: var(--font-family-description);
    font-size: var(--base-size);
    margin-bottom: calc(2*var(--margin-top));
    line-height: 150%;
    color: var(--color-gray-light);
    transition: all 0.2s ease;
}



/* CTA button */
#cta-explore {
    font-family: var(--font-family-description);
    font-size: var(--base-size);
    margin-bottom: calc(7 * var(--margin-top));
    border: 1px solid var(--color-red);
    padding: 1em 2em;
    font-weight: 600;
    background-color: var(--color-red);
    color: var(--color-primary);
    margin-right: calc(0.2 * var(--margin-right));
    transition: all 0.2s ease;
}
#cta-join {
    font-family: var(--font-family-description);
    font-size: var(--base-size);
    margin-bottom: calc(7*var(--margin-top));
    border: 1px solid var(--color-red);
    color: var(--color-red);    
    padding: 1em 2em;
    font-weight: 600;
    transition: all 0.2s ease;
} 



/* card */
.card {
    margin-bottom: var(--margin-top);
    margin-top: var(--margin-top);
    padding: var(--padding-top);
    border: 1px solid var(--border-light-gray);
}
.card h3 {
    margin: 0;
    font-family: var(--font-family-description);
    font-size: calc(2*var(--base-size));
    margin-bottom: calc(0.5*var(--margin-bottom));
}
.card p {
    margin: 4px 0;
    font-family: var(--font-family-description);
    font-size: var(--base-size);
    color: var(--color-gray-light);
}



.card-social {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: var(--margin-top);
    font-family: var(--font-family-description);
    font-size: var(--base-size);
    color: var(--color-gray-light);
  }
.card-social .social-icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-red);
}
.card-social .social-icon img {
    width: 100%;
    height: auto;
}



/* coffee chat tag */
.card-footer {
    /* display: flex; */
    /* justify-content: column;
    align-items: flex-end; */
}
.chat-tag {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    background-color: var(--background-coffee-chat); 
    padding: 0.3rem 0.8rem;
    border-radius: 999px;
    font-family: var(--font-family-description);
    font-size: var(--base-size);
    color: var(--color-secondary);
    margin-bottom: calc(0.2*var(--margin-bottom));
}
.chat-tag img {
    width: 1.5rem;
    height: 1.5rem;
}



/* search engine */
.search-box {
    transition: all 0.2s ease;
}
.search-box input {
    margin-top: calc(.5*var(--margin-top));
    padding: 1em 1em;
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
    border: 1px solid #979595e1;
    font-family: var(--font-family-description);
    color: var(--color-gray-light);
}



/* dropdown*/
.dropdown {
    margin-top: calc(0.5*var(--margin-top));
    margin-bottom: calc(0.5*var(--margin-bottom));
    font-family: var(--font-family-description);
    color: var(--color-gray-light);
}

.dropdown select {
    font-size: var(--base-size);
    padding: 0.5em 1em;
    border: 1px solid var(--border-light-gray);
    border-radius: 0; 
  }



/* side-by-side */
.side-by-side {
    display: flex;
    gap: 0.5rem;
}
/* sticky */
.sticky {
    position: sticky;
    top: 0;
    background-color: var(--background-color-primary);
}


/* back to top */
#back-to-top {
    position: fixed;
    bottom: var(--base-size);
    right: 2rem;
    padding: 0.5em 1em;
    font-size: calc(1.5*var(--base-size));
    background-color: var(--background-color-primary);
    color: var(--color-red);
    border: 2px solid var(--color-red);
    display: none;
    transition: all 0.3s ease;
}

  
  